# General
node_modules/
.DS_Store
Thumbs.db

# Secrets (CRITICAL)
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# Cypress
cypress/videos
cypress/screenshots

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
